#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: -10%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 50px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#posicionamento {
  padding-top: 0%;
  padding-left: 0%;
}

div.caixa {
  margin: 5px;
  background-color:aqua
}


